html {
	background-color: rgba(177,162,150,0.9);
}

#logo {
	font-size: 100px;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	font-size: 22px;
	background-color: #333;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

.active {
	background-color: #04AA6D;
}

iframe {
	display: block;
	margin: auto;
}

#agadmator {
	text-align: center;
}

pre {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}